<table class="table table-hover">
    <thead>
      <th>ProjectName</th>
      <th>ProjectDescription</th>
      <th>DepartmentName</th>
      <th>StartDate</th>
      <th>EndDate</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let dep of list">
        <td (click)="onEdit(dep)">{{dep.projectName}}</td>
        <td (click)="onEdit(dep)">{{dep.projectDescription}}</td>
        <td (click)="onEdit(dep)">{{dep.departmentName}}</td>
        <td (click)="onEdit(dep)">{{dep.startDate}}</td>
        <td (click)="onEdit(dep)">{{dep.endDate}}</td>        
        <td><a class="btn text-danger" (click)="onDelete(dep.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>