<h3 class="display-4">EMP. Register</h3>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input type="hidden" name="id" #id="ngModel" [(ngModel)]="employeeService.formData.id">
        <div class="form-group">
          <input name="fullname" #fullname="ngModel" [(ngModel)]="employeeService.formData.fullname" class="form-control" placeholder="Full name" required>
          <div *ngIf="fullname.invalid && fullname.touched" class="validation-error">This field is required.</div>
        </div>
        <div class="form-group">
          <input name="position" #position="ngModel" [(ngModel)]="employeeService.formData.position" class="form-control" placeholder="Position">
        </div>
        <div class="form-group">
           <input name="empCode" #empCode="ngModel" [(ngModel)]="employeeService.formData.empCode" class="form-control" placeholder="Emp. code">
        </div>
        <div class="form-group">
          <input name="mobile" #mobile="ngModel" [(ngModel)]="employeeService.formData.mobile" class="form-control" placeholder="Mobile">
        </div>   
        <div class="form-group">
          <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
        </div>
</form>